<h3>Enter your Doctor name</h3>
<form action="/doctors" method="post">
  <div class ="form-group">
    <label for="name">Your name</label>
    <input id="name" class="form-control" name="name" type="text">
  </div>
    <button type="submit" class="btn">Submit</button>
</form>
